<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Etat_civile.Properties.Settings.Etat_CivileConnectionString"
            connectionString="Data Source=CASPER\SQLEXPRESS;Initial Catalog=Etat_Civile;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>